
.button {
    background: $button-color;
    border: none;
    color: $light-text-color;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
    margin-bottom: $m-size;
}

.button__badge {
    background-color: #fa3e3e;
    background: $flag-color;
    border-radius: 2px;
    color: $light-text-color;
   
    padding: 1px 3px;
    font-size: 10px;
    
    position: relative; /* Position the badge within the relatively positioned button */
    top: -10px;
    right: 3px;
  }