
.header {
    background: $dark-blue;

}

.header__content {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
    }
}

.header__content--profile {
    flex-direction: row;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}



