
.post {
    display: flex;
    flex-direction: column;
    border: 2px solid $background-color;
    width: 100%;
}

.post__title {
    background: $background-color;
    color: $light-text-color;
    align-self: stretch;
}


.post__content {
    white-space: pre-wrap;
}



.post__subtitle {

}